<h3> FUNKO POPS <h3>

    <%= @funko_pop.each do |funko| %>
        <p><%= @funko_pop.series %></p>
        <p><%= @funko_pop.title %></p>
        <p><%= @funko_pop.price %></p>
        <p><%= @funko_pop.description %></p>
        <p><%= @funko_pop.store %></p>


    <% end %>