<h1><%= @funko_pop.title %></h1>
<h3> Series:  <%= @funko_pop.series %></h3>
 <p>
  <h4> Tags: <span><%= @funko_pop.tag_list %></span> </h4>
</p>
<p>
    <% if @funko_pop.image.exists? %> 
        <%= image_tag @funko_pop.image.url %>  
    <% end %> 
</p>
<p><%= @funko_pop.description %></p>
<% if logged_in? %>
  <% if @funko_pop.user_id == current_user.id %>
    <button class="btn-danger"><%= link_to "Delete", funko_pop_path(@funko_pop), method: :delete, data: {confirm: "Really delete the book?"} %></button>
    <button class="btn-success"><%= link_to "Edit", edit_funko_pop_path(@funko_pop) %></button>
  <% end %>
<% end %>
<br><br>
<button class="btn-block"><h3>Comments:  (<%= @funko_pop.comments.size %>)</h3></button>
<div>
    <%= render 'comments/comment' %>
</div>
<%= render 'comments/form' %>